*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Poppins", sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #353535;
  --clr-accent: #ff4a4a;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1;
}

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

img {
  width: 850px;
  height: 500px;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.section_title {
  margin: auto;
  font-size: var(--fs-h2);
}

.section_subtitle {
  font-size: var(--fs-h3);
  font-style: italic;
  margin: 0;
  text-align: center;
}

.section_subtitle::after {
  content: "";
  display: block;
  width: 8em;
  height: 1px;
  margin: 0.5em auto 0em;
  background: var(--clr-light);
}

/* Nav */

.nav_links {
  display: flex;
  width: 50%;
  transform: translate(100%, -5px);
}

.nav_item {
  list-style: none;
}

.nav_item + .nav_item {
  margin-left: 5rem;
}

.nav {
  transform: translateY(-10rem);
  position: fixed;
  width: 100%;
  background: var(--clr-accent);
  color: var(--clr-light);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

.nav_name {
  display: flex;
  margin-left: 2.5rem;
  margin-top: 0;
  transform: translate(0, 23px);
  width: 50%;
  height: 0px;
  font-size: var(--fs-h3);
}

.nav_name::after {
  content: "";
  display: block;
  width: 2em;
  height: 3px;
  margin: 0.3em auto 0em;
  background: var(--clr-light);
  transform: rotate(90deg);
}

/* Home Section */

a:link {
  text-decoration: none;
  color: currentColor;
}
a:visited {
  text-decoration: none;
  color: currentColor;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

.home_section {
  display: flex;
  margin-top: 10rem;
  background: var(--clr-dark);
  color: #fff;
  border-radius: 0.5rem;
  border-style: solid;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.home_body {
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 50%;
}

.contact_info {
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  font-size: var(--fs-h2);
}

.links {
  width: 25rem;
  background: var(--clr-accent);
  border-radius: 10px;
}

.link {
  font-size: 20px;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* About Section */

.about_section {
  margin-top: 10rem;
  background: var(--clr-dark);
  color: #fff;
}

.about_container {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
}

.about_topic {
  width: 100%;
}

.about_topic + .about_topic {
  margin-left: 5rem;
}

.paragraph {
  line-height: 1.5;
}

.section_title--about {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

/* Projects Section */

.projects_section {
  margin-top: 10rem;
  background: var(--clr-dark);
  color: #fff;
}

.section_title--projects {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.project_item {
  display: flex;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Resume Section */

.resume_section {
  margin-top: 10rem;
  background: var(--clr-dark);
  color: #fff;
}

.section_title--resume {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

iframe {
  width: 100%;
  height: 1000px;
}
